header {
  padding: 10px;
  background-color: white;
}

.header { grid-area: one; }
.programmes { grid-area: two; }
.science-logo { grid-area: three; }
.science-text {grid-area: four;}
.math-text { grid-area: five; }
.math-logo {grid-area: six;}
.advanced-logo { grid-area: seven; }
.advanced-text { grid-area: eight; }
.footer { grid-area: nine;}

.grid-container {
  display: grid;
  grid-template-areas: 
  "one one one"
  "two two two"
  "three four four"
  "five five six"
  "seven eight eight"
  "nine nine nine";

  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}

nav {
  max-width: 100%;
  background-color: white;
}

body {
  background-color: #ECF9FF;
}

.science-text h2 {
  display: block;
  text-align: left;
}

.science-text p {
  display: block;
  text-align: left;
}

.science-text button {
  display: block;
  align-self: left;
}

.science-logo img {
  max-width: 80%;
  max-height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.math-text h2 {
  display: block;
  text-align: right;
}

.math-text p {
  display: block;
  text-align: right;
}

.math-logo img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.advanced-text h2 {
  display: block;
  text-align: left;
}

.advanced-text p {
  display: block;
  text-align: left;
}

.advanced-text button {
  display: block;
  align-self: left;
}

.advanced-logo img {
  max-width: 80%;
  max-height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  padding: 20px;
  background-color: white;
}